@import 'compass';

$color_primary: #7ac142; /* Color Default */
$color_second: #686868; /* Color fonts */
$color_tertiary: #c18942; /* Color some buttons */
$color_quaternary: #1c1b1b; /* Color titles */
$color_quinary: #427ac1; /* Color download button */
$color_senary: #fff; 
$bg: $color_senary;
$font_size: 1.3em; /* BG */

$h1: 2.5em;
$h2: 2em;
$h3: 1em;
$h4: 1em;
$h5: 1em;

body {
	background: $bg;
	font-family: 'Droid Sans', sans-serif;
	font-size: $font_size;
}

a{
	text-decoration: none;
	color: $color_second;
}

a:hover, 
a:hover > strong{
	text-decoration: underline;
	color: $color_primary;
}

a > strong {
	color: $color_quaternary;
}

p {
    margin-bottom: 1em;
}

#page-bar-loader{
	width: 10%;
	position: absolute;
	top: 0px;
	height: 3px;
	background: $color_primary;
	display: none;
}

#page-bar-loader.incr{
   	@include transition(transform 0.5s ease-in-out);
}

.clearfix {
	clear: both;
}

figure {
	margin: 0px;
}

div#wrapper {
	padding-bottom: 15px;
}

/* HEADER */
/*............................................................................................................................*/

header#header h1#logo{
	margin: 5px 0px;
}

header#header h1#logo > a{
   	background: url('../images/sprite.png') no-repeat;
   	width: 120px;
	height: 72px;
	text-indent: -9999999px;
	font-size: 1px;
	display: block;
}

/* Menu */

header#header #bx-menu {
	text-align: right;
}

header#header ul#menu {
	list-style: none;
	margin-top: 22px;
	margin-bottom: 5px;
}

header#header ul#menu > li {
	display: inline-block;
	padding: 10px
}

#menu-mobile {
	position: absolute;
	right: 20px;
	top: 50%;
	z-index: 9999;
	margin-top: -12px;
	cursor: pointer;
	display: none;
}

#menu-mobile i {
	font-size: 2em;
	color: $color_primary;
}

#menu-mobile i:hover {
	color: darken($color_primary, 10%);
}

/* Menu */


/* CONTENT */
/*............................................................................................................................*/
#content > .content-info-about {
	background: #f5f5f5;
	text-align: center;
	padding: 20px 0px;
}

#content > .content-info-about > .container > .row > article > hgroup > h1{
   font-size: $h1;
   color: $color_primary;
}

#content > .content-info-about > .container > .row > article > hgroup > h2{
   font-size: 1.3em;
   color: $color_second;
   font-weight: 100;
}

.ico-grass{
	background: url('../images/sprite.png') no-repeat -702px -34px;
	width: 60px;
	height: 60px;
	margin: 0 auto 10px auto;
}

.content-widget > .container > .row > article {
	padding: 40px 0px;
	border-bottom: 1px solid #f5f5f5;
}

.content-widget > .container > .row > article:last-child {
	border: none;
}

.content-widget > .container > .row > article > div > hgroup > h1 {
	font-size: $h2;
    color: $color_quaternary;
    margin-top: 20px;
}

.content-widget > .container > .row > article > div > hgroup > h1:before {
	content:"";
	background: url('../images/sprite.png') no-repeat -351px -16px;
	@include background-size(500px);
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	margin-top: -6px;
	margin-right: 10px;
}

.content-widget > .container > .row > article > div > hgroup + p{
	color: $color_second;
	font-size: 1.2em;
}

a.btn-docs {
	border: 1px solid $color_second;
	color: $color_second;
	padding: 10px 20px;
	font-size: 1.3em;
	text-decoration: none;
}

a.btn-docs:hover{
   border-color: $color_primary;
   color: $color_primary;
}

/* BANNER */
/*............................................................................................................................*/
div#banner {
   background: url('../images/bg-hyena-beta.jpg') no-repeat center top;
   @include background-size(cover);
   width: 100%;
   position: relative;
}

div#banner > .container > .row > hgroup {
	padding-top: 180px;
}

div#banner > .container > .row > hgroup > h1 {
	color: $color_senary;
	margin-bottom: 0px;
}

div#banner > .container > .row > hgroup > h1 > span > span > b {
   color: $color_primary;
}

div#banner > .container > .row > hgroup > h1 > span {
     display: inline-block;
}

div#banner > .container > .row > hgroup > h1 > span > strong {
	display: block;
	font-size: 0.3em;
	font-weight: 100!important;
}

div#banner > .container > .row > hgroup > h2 {
	color: $color_senary;
	font-size: 1.5em;
	font-weight: 100;
}

div#banner > .container > .row > hgroup > h2 > span {
	color: $color_primary;
}

a.btn-download {
    background-color: $color_quinary;
    display: inline-block;
    color: $color_senary;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    width: 270px;
}

a.btn-download > span{
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;
}

a.btn-download > span + span {
	background-color: darken($color_quinary, 10%);
	height: 100%;
	width: 80px;
    right: 0px;
    top: 0px;
    position: absolute;
    font-size: 2.5em;
    text-align: center;
}

a.btn-download > span + span i {
	margin-top: 3px;
	float: left;
	position: relative;
}

a.btn-download > span > span {
    display: block;
    font-size: 0.6em;
    font-weight: 100;
}

a.btn-download:hover {
	text-decoration: none;
	background-color: tint($color_quinary, 5%);
	/*tint($color, $percentage)*/
}

#bx-download-button {
	margin-bottom: 20px;
}

.bx-button-github{
    margin-bottom: 235px;
}

a.btn-github {
	width: 135px;
	height: 59px;
	display: inline-block;
	background: url('../images/sprite.png') no-repeat -198px -5px;
	@include background-size(500px);
	font-size: 1px;
	text-indent: -9999999999px;
	text-decoration: none!important;
	overflow: hidden;
}

a.btn-github:hover {
	text-decoration: none;
	@include opacity(.8);
}

div.bx-cretids-bg-image {
	background-color: rgba(0,0,0,.5);
	text-align: center;
	color: $color_senary;
	padding: 10px 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

div.bx-cretids-bg-image a {
	color: $color_senary;
	text-decoration: underline;
	font-size: 0.9em;
}

div.bx-cretids-bg-image a:hover {
	color: $color_primary;
}

/* FOOTER */
/*............................................................................................................................*/
footer#footer {
	background: url('../images/ico-grass.jpg') repeat-x 0 top $color_primary;
	padding: 80px 0px 10px 0px;
}

footer#footer #logo-footer{
	background: url('../images/sprite.png') no-repeat -145px -4px;
	width: 230px;
	height: 140px;
	text-indent: -9999px;
	font-size: 1px;
}

footer#footer .bx-button-github{
    margin: 30px 0px 10px 10px;
}

footer#footer .footer-bx-right{
    text-align: right;
}

/* CREDITS */
/*............................................................................................................................*/

#credits > .container > .row > #bx-credits {
   font-size: 0.9em;
   color: $color_quaternary;
   padding: 15px 0px 0px 0px;
}

/* DOCS */
/*............................................................................................................................*/

.get-start-info{
   background-color: $color_primary;
   padding: 40px 0px;
   color: #fff;
   margin-bottom: 20px;
}

.get-start-info h1 {
	font-size: 3.5em;
}

.get-start-info h2 {
	font-size: 1.5em;
}

#content aside {
	background-color: #f5f5f5;
	box-sizing: border-box;
	padding: 20px 10px;
}

#content aside ul {
	list-style: none;
}

#content aside ul li strong {
   color: $color_primary;
}

#content aside + .columns h1 {
	font-size: 2.5em;
	margin-top: 15px;
}

#content aside + .columns h2 {
	font-size: 2em;
	margin: 10px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

#content aside + .columns article {
	margin-bottom: 50px;
}

/* ALERTS */
/*............................................................................................................................*/

.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1;}
.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6;}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1;}

/* Mobile first queries */

/* Larger than desktop */
@media (max-width: 1000px) {
	figure > img{
       width: 100%;
	}
}

/* Larger than phablet */
@media (max-width: 550px) {

	#bx-menu {
		width: 80%;
		float: none;
		position: fixed;
		background-color: #fff;
		z-index:9999;
		left: 0px;
		top: 0px;
		display: none;
		height: 100%;
		border-right: 1px solid #e5e5e5;
	}

	#bx-menu ul {
		margin: 0px 0px 0px 0px!important;
	}

	#bx-menu ul li{
		display: block!important;
		text-align: left;
		margin: 0px;
	}

	#bx-menu ul li:hover{
        background-color: #f5f5f5;
	}

	#menu-mobile {
		display: block;
	}

	div#banner > .container > .row > hgroup {
	    padding-top: 50px;
	}

	.bx-button-github {
	    margin-bottom: 80px;
	}

	div#banner > .container > .row > hgroup > h1 > span > strong {
	    font-size: 0.4em;
	}

	div#banner > .container > .row > hgroup > h2 {
	    font-size: 1.3em;
	    margin-top: 10px;
	}

	footer#footer .footer-bx-right, #credits, #footer {
	    text-align: center;
	}

	#footer h1#logo-footer {
        margin: 0 auto;
	}

}


