/* Color Default */
/* Color fonts */
/* Color some buttons */
/* Color titles */
/* Color download button */
/* BG */
/* line 18, ../sass/main.scss */
body {
  background: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.3em;
}

/* line 24, ../sass/main.scss */
a {
  text-decoration: none;
  color: #686868;
}

/* line 29, ../sass/main.scss */
a:hover,
a:hover > strong {
  text-decoration: underline;
  color: #7ac142;
}

/* line 35, ../sass/main.scss */
a > strong {
  color: #1c1b1b;
}

/* line 39, ../sass/main.scss */
#page-bar-loader {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 3px;
  background: #7ac142;
}

/* HEADER */
/*............................................................................................................................*/
/* line 50, ../sass/main.scss */
header#header h1#logo {
  width: 120px;
  height: 72px;
  text-indent: -9999999px;
  background: url("../images/sprite.png") no-repeat;
  font-size: 1px;
  margin: 5px 0px;
}

/* Menu */
/* line 61, ../sass/main.scss */
header#header #bx-menu {
  text-align: right;
}

/* line 65, ../sass/main.scss */
header#header ul#menu {
  list-style: none;
  margin-top: 22px;
  margin-bottom: 5px;
}

/* line 71, ../sass/main.scss */
header#header ul#menu > li {
  display: inline-block;
  padding: 10px;
}

/* Menu */
/* CONTENT */
/*............................................................................................................................*/
/* BANNER */
/*............................................................................................................................*/
/* line 85, ../sass/main.scss */
div#banner {
  background: url("../images/bg-hyena-beta.jpg") no-repeat center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
}

/* line 92, ../sass/main.scss */
div#banner > .container > .row > hgroup {
  padding-top: 170px;
}

/* line 96, ../sass/main.scss */
div#banner > .container > .row > hgroup > h1 {
  color: #fff;
  margin-bottom: 0px;
}

/* line 101, ../sass/main.scss */
div#banner > .container > .row > hgroup > h1 > span > span > b {
  color: #7ac142;
}

/* line 105, ../sass/main.scss */
div#banner > .container > .row > hgroup > h1 > span {
  display: inline-block;
}

/* line 109, ../sass/main.scss */
div#banner > .container > .row > hgroup > h1 > span > strong {
  display: block;
  font-size: 0.3em;
  font-weight: 100 !important;
}

/* line 115, ../sass/main.scss */
div#banner > .container > .row > hgroup > h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
}

/* line 121, ../sass/main.scss */
div#banner > .container > .row > hgroup > h2 > span {
  color: #7ac142;
}

/* line 125, ../sass/main.scss */
a.btn-download {
  background-color: #427ac1;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  width: 270px;
}

/* line 135, ../sass/main.scss */
a.btn-download > span {
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;
}

/* line 141, ../sass/main.scss */
a.btn-download > span + span {
  background-color: #33629d;
  height: 100%;
  width: 80px;
  right: 0px;
  top: 0px;
  position: absolute;
  font-size: 2.5em;
  text-align: center;
}

/* line 152, ../sass/main.scss */
a.btn-download > span + span i {
  margin-top: 3px;
  float: left;
  position: relative;
}

/* line 158, ../sass/main.scss */
a.btn-download > span > span {
  display: block;
  font-size: 0.6em;
  font-weight: 100;
}

/* line 164, ../sass/main.scss */
a.btn-download:hover {
  text-decoration: none;
  background-color: #4b81c4;
  /*tint($color, $percentage)*/
}

/* line 170, ../sass/main.scss */
#bx-download-button {
  margin-bottom: 8px;
}

/* line 174, ../sass/main.scss */
.bx-button-github {
  margin-bottom: 190px;
}

/* line 178, ../sass/main.scss */
a.btn-github {
  width: 270px;
  height: 118px;
  display: inline-block;
  background: url("../images/sprite.png") no-repeat -396px -15px;
  font-size: 1px;
  text-indent: -9999px;
}

/* line 187, ../sass/main.scss */
a.btn-github:hover {
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 192, ../sass/main.scss */
div.bx-cretids-bg-image {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* line 202, ../sass/main.scss */
div.bx-cretids-bg-image a {
  color: #fff;
  text-decoration: underline;
}

/* line 207, ../sass/main.scss */
div.bx-cretids-bg-image a:hover {
  color: #7ac142;
}

/* FOOTER */
/*............................................................................................................................*/
/* CREDITS */
/*............................................................................................................................*/
